@font-face {
  font-family: 'Myriad Pro';
  src: url(fonts/Myriad\ Pro\ Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Myriad Pro Light';
  src: url(fonts/Myriad\ Pro\ Light.otf) format('opentype');
}

@font-face {
  font-family: 'Consolas';
  src: url(fonts/Consolas.ttf) format('truetype');
}

:root {
  --nav-height: 85px;
  --bottom-section-height: 150px;

  --input-padding: 100px;
  --input-letter-spacing: 13.5px;
}

body {
  margin: 0;
  padding: 0;
  background: #003950;
  color: #82eaff;
  font-family: 'Consolas';
  font-weight: 100;
}

/* #region Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-height);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.nav-icons i {
  font-size: 20px;
  color: #00e4ff;
  cursor: pointer;
  margin: 0 10px;
  transition: color 0.1s;
}

.nav-icons i:hover {
  color: #82eaff;
}

.navbar-logo {
  font-size: 18px;
}

.navbar-logo a {
  color: #00e4ff;
  font-family: 'Myriad Pro Light';
  font-weight: 100;
  margin-right: 35px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.1s;
}   

.navbar-logo a:hover {
  color: #82eaff;
}
/* #endregion */

.typing-wrapper {
  height: calc(100vh - var(--nav-height) - var(--bottom-section-height));
  width: 100vw;
  position: fixed;
  top: var(--nav-height);
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
}

.results-wrapper {
  height: calc(100vh - var(--nav-height) - var(--bottom-section-height) - 150px);
  margin-top: 50px;
  width: 100vw;
  position: fixed;
  top: var(--nav-height);
  left: 0;

  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 57, 80, 0.85);
  z-index: 10;
  opacity: 0;
  backdrop-filter: blur(25px);
  transition: opacity 0.25s;
  pointer-events: none;
}

#results-graph {
  width: 75vw !important;
  height: 35vw !important;
  transition: 1s ease;
}

.input-wrapper {
  width: 85vw;
  max-width: 1250px;
  height: calc(100vh - var(--nav-height) - var(--bottom-section-height) - var(--input-padding));
  max-height: 150px;
  padding: 0 30px;
}

#input {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  position: relative;
  transition: filter 0.5s ease;
}

.input-word {
  display: flex;
  color: #82eaff;
  font-family: 'Consolas';
  margin: 0;
  padding-bottom: 10px 0;
}

letter {
  width: var(--input-letter-spacing);
  font-size: 1.5rem;
  margin: 0;
  animation: blurIn 0.25s ease;
  transition: 0.25s ease;
}

.correct {
  color: #00e4ff;
}

.incorrect {
  color: #ffbde6;
  text-shadow: 0 0 10px #ff8188;
}

.input-end-blur {
  filter: blur(25px);
}

#caret {
  height: 40px;
  width: 2.3px;
  background: #00e4ff;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  transform: translateY(-5px);
  transition: 0.15s ease;
  top: 0;
  left: -100%;
}

.bottom-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--bottom-section-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restart-button-wrapper {
  position: absolute;
  bottom: calc(var(--bottom-section-height) + 5px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.restart-button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  color: white;
  background: transform;
  outline: 3px solid rgba(0, 0, 0, 0);
  border: none;
  background: none;
  border-radius: 20px;
  transition: outline 0.15s ease;
}

/* On tab: */
.restart-button:focus {
  outline: 3px solid rgba(193, 255, 255, 0.485);
}

@keyframes blurIn {
  0% {
    filter: blur(10px)
  }
  100% {
    filter: blur(0px)
  }
}